<div class="sell-banner">
  <div class="banner-elements">
    <h3>Starting a web business is not hard, claeus makes it easy.</h3>
    <a href="#" class="btn btn-default">Start selling</a>
  </div>
</div>
