<div class="sell-banner">
  <div class="banner-elements">
    <h2>Get ahead of your competition.</h2>
    <p>
      claeus handles everything from marketing, payments, to secure checkout and delivery. Now you just have to focus on providing quality goods.
    </p>
    <a href="" class="btn btn-default">Start selling</a>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <h3 class="page-header">How it works</h3>
      <div class="col-md-4">
        <h4 class="page-header">Create a store</h4>
        <p>
          Start selling online without creating a website. Manage everything from your profile page.
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="page-header">Add Listings/products.</h4>
        <p>
          Add your products to your store and reach hundreds of potential customers who use our marketplace daily.
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="page-header">Start selling.</h4>
        <p>Sync your shop with your social media and start selling.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sell-banner-bottom">
    <div class="banner-elements">
      <div class="row">
        <h3 class="header">Why claeus?</h3>
        <div class="col-md-3">
          <h4 class="page-header">Super simple setup.</h4>
          <p>
            Getting started is super easy and simple. We've handled the hard part for you so that you continue to provide great services to your customers.
            </p>
        </div>
        <div class="col-md-3">
          <h4 class="page-header">List and sell with no fees.</h4>
          <p>
            Listing fees? Nope. With claeus, you can list and sell an unlimited amount of items for free.
            </p>
        </div>
        <div class="col-md-3">
          <h4 class="page-header">Easy product management.</h4>
          <p>Managing your products from your profile page is as easy as it gets. Update, add and respond to your customers on the go.</p>
        </div>
        <div class="col-md-3">
          <h4 class="page-header">Help when you need it.</h4>
          <p>We are committed to helpin our seller thrive, with great customer support and education for all shops whether big or small.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <h2 class="page-header">FAQs</h2>
      <div class="col-md-6">
        <h3>What can i sell on claeus?</h3>
        <p>
          Zibbet is a marketplace for independent artists, crafters, vintage collectors around the world. We have 4 main categories, including: Handmade, Fine Art, Vintage (items over 20 years old) and Craft Supplies (both handmade and non-handmade). Learn more about what you can and can't sell on Zibbet.
        </p>
      </div>
      <div class="col-md-6">
        <h3>How do i accept payments?</h3>
        <p>
          When you make a sale, you will be paid directly into your PayPal account. With PayPal, you can accept payments from all major credit cards, all over the world. If you don't yet have a PayPal account, you can get one for free, here.        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Do you take percentage on each sale?</h3>
        <p>
          Nope! Unlike other venues, Zibbet doesn't take a commission on your sales and we don't charge listing fees either.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Have more questions?</h3>
        <p>
          If you have more questions, please contact us. We would love to help you!        </p>
      </div>
    </div>
  </div>
</section>
<br>
<br>
