/***********************************
BUTTONS
************************************/
$red: #EA1B23;
$blue: #28ABE3;
$green: #1ED496;
$yellow: #F1E4C3;
$dark-yellow: #E2B219;


.button-default {
  background: $red;
  padding: .4rem;
  color: !important;
  border-radius: 2px;
}
